<!DOCTYPE html>
<html>

<head>
  <title>Markdown notes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
</head>

<body class="p-4">
  <div class="grid md:grid-cols-5 w-full h-[calc(100vh-32px)] gap-4">
    <div class="flex flex-col gap-4 border-2 border-gray-300">
      <h1 class="text-2xl font-bold p-2">Notes</h1>

      <button hx-post="/note" hx-target="#editor-container" class="rounded-sm bg-blue-400 text-white py-2">New
        note</button>

      <div class="flex flex-col flex-grow" hx-get="/notes" hx-trigger="load, every 2s">

      </div>
    </div>

    <form class="w-full h-full col-span-2 border-2 border-gray-300 flex flex-col" id="editor-container">
    </form>

    <div class="w-full h-full col-span-2 border-2 border-gray-300 p-4 prose" id="preview">

    </div>
  </div>
</body>

</html>
